fastapi
uvicorn
pika
python-multipart
psycopg2-binary
python-jose[cryptography]
passlib[bcrypt]
pydantic
pydantic[email]
pydantic-settings
aiofiles
sqlalchemy
alembic
python-magic
minio
celery
redis
torch 
torchvision 
opencv-python 
pillow 
ultralytics
transformers 